body {
	background: #555D8E;
	font-family: Arial, Helvetica, sans-serif;
}
h1 {
	color: #AED9C8;
	text-align: center;
}
h2 {
	color: #C5CAE3;
}
p {
	background-color: #C5CAE3;
	font-size: 18px;
	line-height: 1.6;
	margin: 20px 0;
}

.projects {
	display:flex;
	flex-wrap:wrap;
}
.project {
	width: 30%;
	margin: 10px;
	padding: 20px 10px;
	background: white;
	border-radius: 5%;
}
.project p {
	text-align: center;
	margin: 15px;
}
.project img {
	width: 300px;
	height: 300px;
	margin: 10px;
	border: 2px solid #555D8E;
	display: block;
}
a {
	color: #AED9C8;
}
